body {
    background: #202028;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
h1 {
    background: linear-gradient(red, blue);
    color: mix(#fff, #e91e63, 85%);
	text-shadow: -8px 8px 4px black;
}
canvas {
    border: solid 0.2em #fff;
    height: 80vh;
}